html {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color:#515151;
    
}

body {
    margin: 0;
}
@media screen and (min-width:630px){
    .mobile {
        display: none;
    }
    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 28px;
    }
    
    h3 {
        font-size: 26px;
    }
    
    h4 {
        font-size: 24px;
    }
    
    h5 {
        font-size: 22px;
    }
    
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 64px;
        top: 0;
        z-index: 100;
        background-color: white;
    }

    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        float: left;
        height: 32px;
        padding-left: 24px;
        font-size: 32px;
        font-weight: bold;
    }

    .logo_colmar {
        color: #01161E;
    }

    .logo_academy {
        color: #8A97A8 ;
    }

    .menu {
        padding-right: 24px;
        float: right;
    }

    .nav {
        display: flex;
        align-items: right;
        list-style: none;
        float:right;
        text-align:right;
    }

    .nav li {
        padding-left: 16px;
    }

    main {
        padding-top: 64px;
        width: 100%;
    }

    .start {
        background-color: lightgrey;
        display: flex;
        margin: 0;
    }

    .start img {
        width: 60%;
        height: auto;
        padding: 32px 24px 32px 24px; 
    }

    .start_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .start_text button {
        background-color: rgb(70, 68, 68);
        color: white;
        box-sizing: content-box;
        width: 90%;
        height: 10%;
        top: 8px;
        bottom: 8px;
    }

    .practicing {
        display: flex;
        width: 100%;
    }

    .p_left {  
        display: flex;
        flex-wrap: wrap;
        flex: 60%;
    }

    .p_left img {
        width: 100%;
        height: auto;
        padding-left: 24px;
        padding-top: 32px;
        padding-right: 24px;
        padding-bottom: 32px;
        
    }

    .p_left h1, .p_left p {
        padding-left: 24px;
        padding-bottom: 24px;
        margin:0;
    }
   

    .p_emanuel
    {
        padding-bottom: 32px;  
        margin:0;
    }
     
    .p_right {
        
        display: flex;
        flex-direction: column;
        flex: 40%;  
    }

    .orientation, .campus, .guest {
        display: flex;
        padding-left: 48px;
    }
    .orientation{
        padding-top: 16px;
    }


    .guest img, .guest_lecture{
        background-color: lightgray;  
    }

    .orientation img, .campus img, .guest img {
        width: 35%;
        height: auto;
        padding: 16px;
    }

    .orientation_date, .our_campus, .guest_lecture {
        width: 65%;
        padding: 8px;
    }

    .read_more {
        color: rgb(5, 120, 228);
    }

    .learning {
        display: flex;
        flex-direction: column;
        background-color: lightgrey;
        justify-content: center;
        align-items: center;
        padding-bottom: 32px;
        width: 100%;
    }

    .learning h1 {
        padding-top: 32px;
        padding-bottom: 32px;
        margin:0;
    }

    .start_learning {
        list-style: none;
        display: flex;
        margin:0;
        padding:0px 72px 0px 72px;
    }

    .start_learning li {
        margin: 32px;
        width: 33%;
    }

    .software_engineering, .computer_art, .design, .data, .business, .marketing {
        background-color: white;   
    }

    .software_engineering img, .computer_art img, .design img, .data img, .business img, .marketing img {
        width: 100%;
        height: auto;
    }

    .software_engineering h3, .computer_art h3, .design h3, .data h3, .business h3, .marketing h3 {
        padding-top: 16px;
        padding-left: 16px;
    }

    .software_engineering p, .computer_art p, .design p, .data p, .business p, .marketing p{
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .thesis {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 32px;
        background-color: white;
    }

    .thesis h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        margin: 0;
        flex:100%;
    }

    .thesis_exhibit {
        display: flex;
        flex-direction: row;
    }
    

    .t_left {
        flex: 60%;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
    }

    .t_left video {
        width: 100%;
    }

    .t_left h3 {
        padding-bottom: 8px;
    }

    .t_right_list {
        list-style: none;
    }

    .t_right_list li {
        display: flex;
        
    }

    .t_right_list img {
        width: 35%;
        height: auto;
        padding: 16px;
    }

    .fisma_box {
        background-color: lightgrey;
        
    }

    .fisma, .then_now {
        display: flex;
        flex-direction: column;
        width: 65%;
    }

    footer {
        display: flex;
        bottom: 0;
        width: 100%;
        justify-content: space-between;
    }

    .copyright {
        display: flex;
        align-items: center;
        text-align: left;
        float: left;
        left: 0;
        padding-left: 24px;
    }

    .terms {
        float: right;
        right: 0;
    }

    .t_p {
        display: flex;
        align-items: center;
        list-style: none;
        float:right;
        text-align:right;
        padding-right: 24px;
    }

    .t_p li {
        padding-left: 16px;
    }
}

@media screen and (max-width: 630px){
    .desktop {
        display: none;
    }

    h1 {
        font-size: 26px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    h3 {
        font-size: 22px;
    }
    
    h4 {
        font-size: 20px;
    }
    
    h5 {
        font-size: 18px;
    }

    header {
        display: flex;
        justify-content: space-around;
        position: fixed;
        width: 100%;
        height: 64px;
        top: 0;
        z-index: 100;
        background-color: white;
    }
    .menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .start {
        background-color: lightgrey;
        width: 100%;
        height: auto;
    }

    .start img {
        width: 100%;
        padding-bottom: 32px;
    }

    .start_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 16px;
        padding-bottom: 32px;
    }

    .start_text h1 {
        padding-bottom: 32px;
    }

    .start_text h3 {
        padding-bottom: 24px;
    }

    .start_text button {
        background-color: gray;
        color: white;
        box-sizing: content-box;
        width: 50%;
        height: 20px;
        margin-block-end: inherit;
        margin-top: 24px;
        padding-bottom: 32px;
        margin: auto 25%;
    }

    .practicing {
        padding: 16px 16px 32px 16px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .practicing .p_left {
        display: none;
    }

    .practicing .p_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .p_right h2, .p_right p{
        padding-left: 32px;
    }

    .orientation img, .campus img, .guest img {
        max-width: 100%;
        height: auto;
    
    }
    .campus, .orientation {
        padding-bottom: 64px;
        
    }

    .guest {
        padding-left: 16px;
        
    }

    .read_more {
        color: rgb(5, 120, 228);
    }

    .learning {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 32px 16px;
    }

    .learning h1 {
        padding-bottom: 16px;
    }

    .start_learning {
        list-style: none;
        
    }

    .start_learning li {
        
        background-color: lightgrey;
        margin-bottom: 8px;
        padding-left: 16px;
        padding-top: 16px;
        padding-bottom: 24px;
       
    }
    
     .learning h3{
         text-align: justify;
     }
    .thesis h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 32px;
        padding-bottom: 16px;
    }

    video {
        width: 100%;
        padding-bottom: 24px;
    }

    footer {
        padding: 16px auto;
    }

}